.footer {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	margin-top: 4rem;
}

footer img {
	margin-top: 1rem;
}

.footer-links {
	display: flex;
	flex-direction: column;
}

.footer-links a {
	color: #333;
    text-decoration: none;
}

.footer-links a:hover {
    color: #495E57;
}
